<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gauvain.seigneur.covidupdate"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".CovidUpdateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CovidUpdateTheme">
        <activity android:name=".view.SplashActivity"
            android:theme="@style/CovidUpdateTheme.SlpashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/CovidUpdateTheme.ActivityMain">
        </activity>
        <activity
            android:name=".view.details.DetailsActivity"
            android:theme="@style/CovidUpdateTheme.Transparent.ActivityDetail" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>